<c-modal
  class="confirm-modal"
  [visible]="isVisible"
  (visibleChange)="onVisibleChange($event)"
>
  <c-modal-header>
    <h5 cModalTitle>{{ title }}</h5>
    <button (click)="onClose()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <ng-content select="[custom-body]"></ng-content>
    {{ body }}</c-modal-body
  >
  <c-modal-footer>
    <button *ngIf="showCancelButton" (click)="onClose()" cButton color="secondary">
      {{ cancelText }}
    </button>
    <button
      cButton
      color="primary"
      (click)="onOk()"
      [disabled]="isConfirmDisabled"
    >
      {{okText}}
    </button>
  </c-modal-footer>
</c-modal>
