<c-pagination aria-label="Page navigation example">
  <li cPageItem>
    <a cPageLink (click)="onPageChange(currentPage - 1)" [class.disabled]="currentPage === 1">Anterior</a>
  </li>

  <li *ngFor="let page of paginationPages" cPageItem>
    <ng-container *ngIf="page === '...'; else pageNumber">
      <span class="pagination-ellipsis">…</span>
    </ng-container>
    <ng-template #pageNumber>
      <a
        cPageLink
        (click)="onPageChange(page)"
        [class.active]="page === currentPage"
        >{{ page }}</a
      >
    </ng-template>
  </li>

  <li cPageItem>
    <a cPageLink (click)="onPageChange(currentPage + 1)" [class.disabled]="currentPage === totalPages">Siguiente</a>
  </li>
</c-pagination>