<app-generic-modal
  [isVisible]="isVisible"
  [title]="title"
  (ok)="onOk()"
  (close)="onClose()"
  [isConfirmDisabled]="form.invalid"
>
  <div custom-body>
    <form [formGroup]="form">
      <div class="form-group">
        <textarea
          id="notes"
          class="form-control"
          formControlName="notes"
          rows="3"
          placeholder="Justificación del proceso"
        ></textarea>
        <div *ngIf="form.get('notes')?.invalid && form.get('notes')?.touched">
          <small
            class="text-danger"
            *ngIf="form.get('notes')?.errors?.['required']"
          >
            Este campo es obligatorio.
          </small>
          <small
            class="text-danger"
            *ngIf="form.get('notes')?.errors?.['minlength']"
          >
            El motivo debe tener al menos 5 caracteres.
          </small>
        </div>
      </div>
    </form>
  </div>
</app-generic-modal>
