<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="8" xl="7">
        <h1 class="mb-2 text-center">Registrar Tienda</h1>
        <p class="text-body-secondary mb-4 text-center">
          Registra una tienda nueva
        </p>
        <form [formGroup]="registerForm" (ngSubmit)="register()" novalidate>
          <!-- Card Datos Personales -->
          <c-card class="shadow-sm rounded-4 mb-4">
            <c-card-body>
              <h5 class="mb-3">Datos Personales</h5>
              <c-row>
                <c-col md="6" class="mb-3">
                  <label class="form-label">Nombre</label>
                  <input
                    cInput
                    formControlName="firstName"
                    type="text"
                    class="form-control"
                    placeholder="Nombre"
                    [class.input-error]="isInvalid('firstName')"
                  />
                </c-col>
                <c-col md="6" class="mb-3">
                  <label class="form-label">Apellido</label>
                  <input
                    cInput
                    formControlName="lastName"
                    type="text"
                    class="form-control"
                    placeholder="Apellido"
                    [class.input-error]="isInvalid('lastName')"
                  />
                </c-col>
              </c-row>
              <c-row>
                <c-col md="12" class="mb-3">
                  <label class="form-label">Teléfono</label>
                  <input
                    cInput
                    formControlName="phone"
                    type="tel"
                    class="form-control"
                    placeholder="Teléfono"
                    [class.input-error]="isInvalid('phone')"
                  />
                </c-col>
              </c-row>
            </c-card-body>
          </c-card>
          <!-- Card Datos de la Tienda -->
          <c-card class="shadow-sm rounded-4 mb-4">
            <c-card-body>
              <h5 class="mb-3">Datos de la Tienda</h5>
              <c-row>
                <c-col md="6" class="mb-3">
                  <label class="form-label">Correo electrónico</label>
                  <input
                    cInput
                    formControlName="email"
                    type="email"
                    class="form-control"
                    placeholder="Email"
                    [class.input-error]="isInvalid('email')"
                  />
                </c-col>
                <c-col md="6" class="mb-3">
                  <label class="form-label">Contraseña</label>
                  <div class="d-flex align-items-center gap-2">
                    <div class="form-group position-relative">
                      <input
                        formControlName="password"
                        [type]="showPassword ? 'text' : 'password'"
                        class="form-control"
                        placeholder="Contraseña"
                        [class.input-error]="isInvalid('password')"
                      />

                      <!-- Botón ojito -->
                      <button
                        type="button"
                        class="btn btn-sm position-absolute end-0 me-2 bg-transparent border-0"
                        (click)="togglePasswordVisibility()"
                        style="top: 50%; transform: translateY(-50%)"
                      >
                        <img
                          *ngIf="!showPassword"
                          src="assets/eye-solid.svg"
                          alt="Mostrar contraseña"
                          width="20"
                          height="20"
                        />
                        <img
                          *ngIf="showPassword"
                          src="assets/eye-slash-solid.svg"
                          alt="Ocultar contraseña"
                          width="20"
                          height="20"
                        />
                      </button>
                    </div>
                  </div>
                  <!-- Aquí va el texto de ayuda -->
                  <small class="form-text text-muted ms-1">
                    La contraseña debe tener al menos 8 caracteres, una mayúscula y un número.
                  </small>
                </c-col>
              </c-row>
              <c-row>
                <c-col md="6" class="mb-3">
                  <label class="form-label">Nombre legal</label>
                  <input
                    cInput
                    formControlName="legalName"
                    type="text"
                    class="form-control"
                    placeholder="Nombre legal"
                    [class.input-error]="isInvalid('legalName')"
                  />
                </c-col>
                <c-col md="6" class="mb-3">
                  <label class="form-label">Número de documento</label>
                  <input
                    cInput
                    formControlName="documentNumber"
                    type="text"
                    class="form-control"
                    placeholder="Número de documento"
                    [class.input-error]="isInvalid('documentNumber')"
                  />
                </c-col>
              </c-row>
              <c-row>
                <c-col md="6" class="mb-3">
                  <label class="form-label">Nombre de la tienda</label>
                  <input
                    cInput
                    formControlName="storeName"
                    type="text"
                    class="form-control"
                    placeholder="Nombre de la tienda"
                    [class.input-error]="isInvalid('storeName')"
                  />
                </c-col>
                <c-col md="6" class="mb-3">
                  <label class="form-label">Ciudad</label>
                  <select
                    cSelect
                    formControlName="city"
                    class="form-select"
                    [class.input-error]="isInvalid('city')"
                    [disabled]="loadCity"
                  >
                    <option value="">Seleccione una ciudad</option>
                    <option *ngFor="let city of cities" [value]="city.id">
                      {{ city.name }}
                    </option>
                  </select>
                </c-col>
              </c-row>
            </c-card-body>
          </c-card>
          <!-- Botón fuera de las cards, centrado -->
          <c-row class="mt-4">
            <c-col class="d-flex justify-content-center">
              <button
                cButton
                color="primary"
                type="submit"
                [disabled]="registerForm.invalid || isLoading"
                class="px-5 py-2"
              >
                <span
                  *ngIf="isLoading"
                  class="spinner-border spinner-border-sm me-2"
                ></span>
                Crear Tienda
              </button>
            </c-col>
          </c-row>
        </form>
      </c-col>
    </c-row>
  </c-container>
</div>
