<c-modal
  [visible]="isVisible"
  size="lg"
  backdrop="static"
  keyboard="false"
  scrollable
>
  <c-modal-header>
    <strong *ngIf="(form.value.id ?? 0) === 0">Nuevo Retiro</strong>
    <strong *ngIf="(form.value.id ?? 0) !== 0">Gestionar Retiro</strong>
  </c-modal-header>

  <c-modal-body>
    <p>
      <strong>Balance disponible: </strong
      >{{ availableBalance | currency : "COP" }}
    </p>

    <form [formGroup]="form">
      <div class="row">
        <div class="col-md-12 mb-3">
          <label class="form-label">Tienda</label>
          <ng-select
            [items]="stores"
            bindLabel="name"
            bindValue="id"
            formControlName="storeId"
            [searchable]="true"
            placeholder="Seleccione una tienda"
          >
          </ng-select>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label">Monto</label>
          <input
            type="number"
            class="form-control"
            formControlName="amount"
            [max]="availableBalance"
          />
        </div>

        <div class="col-md-6 mb-3">
          <label class="form-label">Titular de la cuenta</label>
          <input
            type="text"
            class="form-control"
            formControlName="accountHolder"
          />
        </div>

        <div class="col-md-6 mb-3">
          <label class="form-label">Tipo de documento</label>
          <ng-select
            [items]="documentTypes"
            bindLabel="name"
            bindValue="id"
            formControlName="documentTypeId"
            [searchable]="false"
            placeholder="Seleccione un tipo de documento"
          >
          </ng-select>
        </div>

        <div class="col-md-6 mb-3">
          <label class="form-label">Documento</label>
          <input type="text" class="form-control" formControlName="document" />
        </div>

        <div class="col-md-6 mb-3">
          <label class="form-label">Banco</label>
          <input type="text" class="form-control" formControlName="bank" />
        </div>

        <div class="col-md-6 mb-3">
          <label class="form-label">Número de cuenta</label>
          <input
            type="text"
            class="form-control"
            formControlName="accountNumber"
          />
        </div>

        <div class="col-md-12 mb-3">
          <label class="form-label">Descripción</label>
          <textarea
            class="form-control"
            formControlName="description"
          ></textarea>
        </div>

        <div class="col-md-12 mb-3">
          <label class="form-label">Gestion</label>
          <textarea
            class="form-control"
            formControlName="reason"
          ></textarea>
        </div>
      </div>
    </form>
  </c-modal-body>

  <c-modal-footer>
    <button class="btn btn-secondary" type="button" (click)="close()">
      Cancelar
    </button>
    <button
      *ngIf="!isPending && (form.value.id ?? 0) === 0"
      class="btn btn-primary"
      type="button"
      (click)="save()"
      [disabled]="form.invalid"
    >
      Guardar
    </button>
    <button
      *ngIf="isPending"
      type="button"
      class="btn btn-success"
      (click)="approve()"
    >
      Aprobar
    </button>
    <button
      *ngIf="isPending"
      type="button"
      class="btn btn-danger"
      (click)="reject()"
    >
      Rechazar
    </button>
  </c-modal-footer>
</c-modal>
