<app-loading-overlay
  *ngIf="isLoading"
  [loadingText]="'Cargando transacciones...'"
></app-loading-overlay>

<c-row>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Transferencias</strong> -> <small>Listado</small>
        <button
          type="button"
          class="float-end btn btn-primary"
          (click)="downloadExcel()"
        >
          <svg [cIcon]="icons.cilCloudDownload"></svg>
          Exportar
        </button>
      </c-card-header>
      <c-card-body>
        <div>
          <form
            [formGroup]="filtersForm"
            (ngSubmit)="onFilter()"
            class="mb-4 row g-3 align-items-end"
          >
            <div class="col-md-2">
              <label for="orderId" class="form-label">Origen</label>
              <ng-select
                [searchable]="false"
                [items]="warehouseOptions"
                bindLabel="name"
                bindValue="id"
                formControlName="fromWarehouseId"
                placeholder="Seleccione..."
              >
              </ng-select>
            </div>
            <div class="col-md-2">
              <label for="orderId" class="form-label">Destino</label>
              <ng-select
                [searchable]="false"
                [items]="warehouseOptions"
                bindLabel="name"
                bindValue="id"
                formControlName="toWarehouseId"
                placeholder="Seleccione..."
              >
              </ng-select>
            </div>
            <div class="col-md-2">
              <label for="statusId" class="form-label">Estado</label>
              <ng-select
                [searchable]="false"
                [items]="statusOptions"
                bindLabel="label"
                bindValue="value"
                formControlName="statusId"
                placeholder="Seleccione..."
              >
              </ng-select>
            </div>

            <div class="col-md-2">
              <label for="startDate" class="form-label">Fecha inicio</label>
              <input
                type="date"
                id="startDate"
                formControlName="startDate"
                class="form-control"
              />
            </div>

            <div class="col-md-2">
              <label for="endDate" class="form-label">Fecha fin</label>
              <input
                type="date"
                id="endDate"
                formControlName="endDate"
                class="form-control"
              />
            </div>

            <div class="col-md-1 d-grid">
              <button type="submit" class="btn btn-primary">Filtrar</button>
            </div>

            <div class="col-md-1 d-grid">
              <button
                type="button"
                class="btn btn-outline-secondary"
                (click)="resetFilters()"
              >
                Limpiar
              </button>
            </div>
          </form>
        </div>
        <table cTable striped responsive hover>
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Bodegas</th>
              <th scope="col">Fecha</th>
              <th scope="col">Estado</th>
              <th scope="col">Creador</th>
              <th scope="col">Aceptado por</th>
              <th scope="col">Rechazado</th>
              <th scope="col">Contiene</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tx of warehouseInventoryTransfers; let i = index">
              <th scope="row">{{ tx.id }}</th>
              <td>{{ tx.fromWarehouse }} → {{ tx.toWarehouse }}</td>
              <td>{{ tx.createdAt | utcDate }}</td>
              <td>{{ getStatusLabel(tx.status) }}</td>
              <td>{{ tx.creator }}</td>
              <td>{{ tx.acceptedBy }}</td>
              <td>{{ tx.rejectionReason }}</td>
              <td>
                <div *ngFor="let item of tx.transferDetails; let last = last">
                  {{ item.product }} {{ item.productVariant }}
                  {{ item.quantity }}
                  <hr *ngIf="!last" style="margin: 8px 0" />
                </div>
              </td>
              <td>
                <button
                  class="btn btn-sm btn-outline-primary me-2"
                  (click)="showDetail(tx)"
                >
                  <svg [cIcon]="icons.cilPencil"></svg>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <app-generic-pagination
          [pagination]="pagination"
          [currentPage]="currentPage"
          (pageChange)="onPageChange($event)"
        >
        </app-generic-pagination>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<app-loading-overlay
  *ngIf="isLoading"
  [loadingText]="'Cargando transferencias...'"
>
</app-loading-overlay>

<app-warehouse-transfer-modal-detail
  *ngIf="warehouseInventoryTransfer"
  [warehouseInventoryTransfer]="warehouseInventoryTransfer"
  (onClose)="onModalDetailClose($event)"
  (onSave)="onModalAccept($event)"
  (onReject)="onModalReject($event)"
>
</app-warehouse-transfer-modal-detail>

<app-generic-modal> </app-generic-modal>


<!-- todo mejor pasar a un componente dentro de components -->
<app-generic-modal
  [isVisible]="showRejectModal"
  [title]="'Rechazar transferencia'"
  (ok)="onConfirmReject()"
  (close)="onCancelReject()"
  [isConfirmDisabled]="rejectForm.invalid"
>
  <div custom-body>
    <form [formGroup]="rejectForm">
      <div class="form-group">
        <textarea
          id="rejectionReason"
          class="form-control"
          formControlName="rejectionReason"
          rows="3"
          placeholder="Motivo del rechazo"
        ></textarea>
        <div
          *ngIf="
            rejectForm.get('rejectionReason')?.invalid &&
            rejectForm.get('rejectionReason')?.touched
          "
        >
          <small
            class="text-danger"
            *ngIf="rejectForm.get('rejectionReason')?.errors?.['required']"
          >
            Este campo es obligatorio.
          </small>
          <small
            class="text-danger"
            *ngIf="rejectForm.get('rejectionReason')?.errors?.['minlength']"
          >
            El motivo debe tener al menos 5 caracteres.
          </small>
        </div>
      </div>
    </form>
  </div>
</app-generic-modal>
