<app-loading-overlay
  *ngIf="isLoading"
  [loadingText]="'Cargando ordenes...'"
></app-loading-overlay>
<c-row>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Órdenes</strong> -> <small>Listado</small>
      </c-card-header>
      <c-card-body>
        <form
          [formGroup]="filtersForm"
          (ngSubmit)="onFilter()"
          class="mb-4 row g-3 align-items-end"
        >
          <div class="col-md-2">
            <label cLabel for="orderId" class="form-label">ID Orden</label>
            <input
              cFormControl
              type="number"
              id="orderId"
              formControlName="orderId"
              class="form-control"
            />
          </div>
          <div class="col-md-2">
            <label for="store" class="form-label">Tienda</label>
            <ng-select
              cFormControl
              [items]="stores"
              bindLabel="name"
              bindValue="id"
              formControlName="storeId"
              [searchable]="true"
              placeholder="Seleccione una tienda"
            >
            </ng-select>
          </div>
          <div class="col-md-3">
            <label for="startDate" class="form-label">Fecha inicio</label>
            <input
              type="date"
              id="startDate"
              formControlName="startDate"
              class="form-control"
            />
          </div>

          <div class="col-md-3">
            <label for="endDate" class="form-label">Fecha fin</label>
            <input
              type="date"
              id="endDate"
              formControlName="endDate"
              class="form-control"
            />
          </div>

          <div class="col-md-1 d-grid">
            <button type="submit" class="btn btn-primary">Filtrar</button>
          </div>

          <div class="col-md-1 d-grid">
            <button
              type="button"
              class="btn btn-outline-secondary"
              (click)="resetFilters()"
            >
              Limpiar
            </button>
          </div>
        </form>
        <c-tabs
          [activeItemKey]="activeTab"
          (activeItemKeyChange)="handleActiveItemChange($event)"
        >
          <c-tabs-list variant="underline-border">
            <button cTab [itemKey]="0">Órdenes</button>
            <button cTab [itemKey]="1">Express</button>
            <button cTab [itemKey]="2">Tradicional</button>
          </c-tabs-list>

          <c-tabs-content>
            <c-tab-panel
              *ngFor="let i of [0, 1, 2]; let idx = index"
              [itemKey]="idx"
              class="p-3"
            >
              <app-order-table
                *ngIf="orders"
                [orders]="orders"
                [columns]="columns"
                [statusOptions]="statusOptions"
                [categoryOptions]="categoryOptions"
                [warehouseOptions]="warehouseOptions"
                (statusChanged)="handleStatusChange($event)"
                (warehouseChanged)="handleWarehouseChange($event)"
                (scheduleOrder)="handleScheduleOrder($event)"

              />
            </c-tab-panel>
          </c-tabs-content>
        </c-tabs>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<app-generic-modal></app-generic-modal>
<app-order-edit-modal
  *ngIf="orderSelected"
  [order]="orderSelected"
  [isVisible]="orderSelected != null"
  [statusOptions]="statusOptions"
  (onSave)="onModalScheduleSave($event)"
  (onClose)="onModalScheduleClose($event)"
></app-order-edit-modal>
