<app-loading-overlay
  *ngIf="isLoading"
  [loadingText]="'Cargando transacciones...'"
></app-loading-overlay>

<c-row>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Wallet</strong> -> <small>Listado</small>

        <button
          type="button"
          class="float-end btn btn-primary"
          (click)="downloadExcel()"
        >
          <svg [cIcon]="icons.cilCloudDownload"></svg>
          Exportar
        </button>
        <!-- <button class="float-end btn btn-primary">
          <svg [cIcon]="icons.cilCloudDownload"></svg>
        </button> -->
      </c-card-header>
      <c-card-body>
        <div>
          <form
            *ngIf="showFilters"
            [formGroup]="filtersForm"
            (ngSubmit)="onFilter()"
            class="mb-4 row g-3 align-items-end"
          >
            <div class="col-md-2">
              <label for="orderId" class="form-label">ID Orden</label>
              <input
                type="number"
                id="orderId"
                formControlName="orderId"
                class="form-control"
              />
            </div>
            <div class="col-md-2">
              <label for="store" class="form-label">Tienda</label>
              <ng-select
                [items]="stores"
                bindLabel="name"
                bindValue="id"
                formControlName="storeId"
                [searchable]="true"
                placeholder="Seleccione una tienda"
              >
              </ng-select>
            </div>
            <div class="col-md-3">
              <label for="startDate" class="form-label">Fecha inicio</label>
              <input
                type="date"
                id="startDate"
                formControlName="startDate"
                class="form-control"
              />
            </div>

            <div class="col-md-3">
              <label for="endDate" class="form-label">Fecha fin</label>
              <input
                type="date"
                id="endDate"
                formControlName="endDate"
                class="form-control"
              />
            </div>

            <div class="col-md-1 d-grid">
              <button type="submit" class="btn btn-primary">Filtrar</button>
            </div>

            <div class="col-md-1 d-grid">
              <button
                type="button"
                class="btn btn-outline-secondary"
                (click)="resetFilters()"
              >
                Limpiar
              </button>
            </div>
          </form>
        </div>
        <table cTable class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Tienda</th>
              <th scope="col">Usuario</th>
              <th scope="col">Descripción</th>
              <th scope="col">Tipo de transacción</th>
              <th scope="col">Estado</th>
              <th scope="col">Fecha</th>
              <th scope="col">Monto</th>
              <th scope="col">Id Orden</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tx of transactions; let i = index">
              <th scope="row">{{ tx.id || "-" }}</th>
              <td>{{ tx.store || "-" }}</td>
              <td>{{ tx.userName || "-" }}</td>
              <td>{{ tx.description || "-" }}</td>
              <td>{{ tx.transactionType }}</td>
              <td>{{ tx.orderStatus }}</td>
              <td>{{ tx.createdAt | utcDate }}</td>
              <td>{{ tx.amount }}</td>
              <td>{{ tx.relatedOrderId || "-" }}</td>
            </tr>
          </tbody>
        </table>
        <app-generic-pagination
          [pagination]="pagination"
          [currentPage]="currentPage"
          (pageChange)="onPageChange($event)"
        >
        </app-generic-pagination>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
